label {
	font-size: 14px;
	font-family: karma;
}

.input-group span {
	font-weight: bold;
}

.input-group {
	margin-bottom: 10px;
}

.main-nav {
	min-height: 10px;
	width: 100%;
	font-family: muli;
	padding: 0px 20px 0px 20px;
	text-align: center;
	background: rgba(1,43,85,0.95);
}

	.main-nav a {
		font-size: 35px;
		text-decoration: none;
		user-select: none;
		color: #F59B31;
		transition: all 1s;
	}

		.main-nav a:hover {
			text-decoration: none;
			color: white;
			transition: all 1s;
		}

.prev-box {
	height: 150px;
	width: 100%;
	font-family: muli;
	border: 1px solid lightgray;
	letter-spacing: 1px;
	border-radius: 5px;
}

	.prev-box img {
		width: 100%;
		height: 148px;
		border-radius: 5px;
		transition: all 1s;
	}

		.prev-box img:hover {
			transform: scale(1.5);
			transition: all 2s;
		}

	.prev-box:hover {
		box-shadow: 1px 5px 10px gray;
		transition: all 1s;
	}

.title-bar {
	height: auto;
	width: 100%;
	padding: 2px 0px;
	letter-spacing: 2px;
	background: navy;
	font-size: 10px;
	font-family: muli;
	color: white;
	user-select: none;
}

.b-cover {
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url('Images/cover.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.strap {
	min-height: 30px;
	background: rgba(247, 147, 30,0.9);
}

.front-box {
	min-height: 30vh;
	margin-top: 5vh;
	background: rgba(1,43,85,0.9);
}

.f-inner-box {
	min-height: 30vh;
	width: 100%;
	padding: 5px;
	border-radius: 3px;
	border: 2px solid rgb(245, 155, 49);
}

.f-i-row {
	min-height: 10px;
	width: 100%;
	padding: 3px;
	margin-bottom: 5px;
	border: 1px solid forestgreen;
	border-left: 5px solid rgb(245, 155, 49);
	background: rgba(250, 250, 250, 0.90);
	border-radius: 3px;
}

	.f-i-row a {
		text-decoration: none;
		color: forestgreen;
		font-weight:bold;
		font-family: muli;
		font-size: 13px;
		letter-spacing: 1px;
		user-select: none;
		transition: all 1s;
	}

		.f-i-row a:hover {
			text-decoration: none;
			color: rgb(245, 155, 49);
			margin-left: 5px;
			transition: all .3s;
		}
/*nav bar*/

.my-nav {
	background: none;
	border: none;
	margin-top: 25px;
	border-radius: 5px;
}

	.my-nav .my-collapse .my-navbar-nav li .link-b, .my-nav .my-collapse .navbar-right li .link-b {
		font-size: 12px;
		padding: 8px 9px 8px 12px;
		color: white;
		margin: 2px;
		letter-spacing: 2px;
	}

		.my-nav .my-collapse .my-navbar-nav li .link-b:hover, .my-nav .my-collapse .navbar-right li .link-b:hover {
			color: white;
			border-radius: 3px;
			background: forestgreen;
			letter-spacing: 2px;
			border-bottom: 5px solid white;
			transition: all .3s;
		}

	.my-nav .my-collapse .my-navbar-nav li.active .link-b {
		color: rgba(1,43,85,1);
		border-radius: 3px;
		background: rgb(245, 155, 49);
		font-weight: bold;
		letter-spacing: 2px;
		border-bottom: 5px solid white;
	}

		.my-nav .my-collapse .my-navbar-nav li.active .link-b:hover {
			color: white;
			border-radius: 3px;
			background: forestgreen;
			letter-spacing: 2px;
			border-bottom: 5px solid white;
			transition: all .3s;
		}

@media screen and (max-width:720px) {
	.my-collapse, .navbar-right {
		background: rgba(1,43,85,1);
		border-radius: 3px;
	}

	.my-navbar-nav, .navbar-right {
		padding: 0px 10px 5px 10px;
	}

	.my-nav .my-collapse .my-navbar-nav li .link-b:hover, .my-nav .my-collapse .navbar-right li .link-b:hover {
		border: none;
		border-left: 5px solid white;
	}

	.my-nav .my-collapse .my-navbar-nav li.active .link-b:hover {
		border: none;
		border-left: 5px solid white;
	}

	.my-nav .my-collapse .my-navbar-nav li.active .link-b {
		border: none;
		border-left: 5px solid white;
	}
}

.go-top {
	position: fixed;
	bottom: 3%;
	right: 2%;
	display: none;
}

	.go-top .gt-arrow {
		cursor: pointer;
		color: dimgray;
		font-size: 20px;
		padding: 7px;
		border: 1px solid dimgray;
	}

		.go-top .gt-arrow:hover {
			background: orangered;
			color: white;
		}
/* Nav bar end*/
.link {
	text-decoration: none;
	color: lightpink;
}

	.link:focus {
		text-decoration: none;
		color: lightpink;
	}

	.link:hover {
		color: forestgreen;
		text-decoration: none;
	}

.foot {
	min-height: 30px;
	width: 100%;
	font-family: muli;
	background: rgba(1,43,85,1);
	padding: 15px 0px;
	text-align: center;
	font-size: 16px;
	color: white;
	user-select: none;
}
