<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mhmConnectionString" connectionString="server=127.0.0.1;port=3306;User ID=webuser;Password=webpassword;Database=mhmdb;" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="NCLPConnectionString" connectionString="Data Source=(localdb)\MSSQLLocaldb;Initial Catalog=NCLP_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.6.1"/>
    <machineKey validationKey="CE449605CF7517024D7991B97082EA98D189D07C7B63E439586CF08CC665474F62430E05BCEA137196B59FD0FD61723F226E5FC695C9A54DD800ED0105B3343F" decryptionKey="DF7D406B26F9E34B4BCF8D35CFE6A1F89E7F7193DD84015B"/>
    <urlMappings enabled="true">
      <add url="~/Computer_Based_Self_Instructional_Programmes" mappedUrl="~/CBISProgrammes.aspx"/>
      <add url="~/Contact_Us" mappedUrl="~/ContactUs.aspx"/>
      <add url="~/CPBM_Counselling" mappedUrl="~/CPBM_Counselling.aspx"/>
      <add url="~/CPBM_Diagnostic_Assesments" mappedUrl="~/CPBM_DAssesments.aspx"/>
      <add url="~/CPBM_Psychotherapy" mappedUrl="~/CPBM_Psychotherapy.aspx"/>
      <add url="~/Counselling_and_Vocational_Centres" mappedUrl="~/CVCentres.aspx"/>
      <add url="~/Home" mappedUrl="~/Default.aspx"/>
      <add url="~/Disclaimer" mappedUrl="~/Disclaimer.aspx"/>
      <add url="~/Forgot_Password" mappedUrl="~/FPassword.aspx"/>
      <add url="~/Photo_Gallary" mappedUrl="~/Gallary.aspx"/>
      <add url="~/Interactive_Psychologists_Panel" mappedUrl="~/IPPanel.aspx"/>
      <add url="~/MEA_Intelligence_and_Aptitude" mappedUrl="~/MEA_IAptitude.aspx"/>
      <add url="~/MEA_Psycho_Diagnoses" mappedUrl="~/MEA_Psycho-Diagnoses.aspx"/>
      <add url="~/MEA_Personal_or_Couple_Relationship_Management_System" mappedUrl="~/MEA_RMSystem.aspx"/>
      <add url="~/MEA_Self_Assessment_of_personality" mappedUrl="~/MEA_SAPersonality.aspx"/>
      <add url="~/Mental_Health_Awareness_Camps" mappedUrl="~/MHACamps.aspx"/>
      <add url="~/Mental_Health_Centres" mappedUrl="~/MHCentres.aspx"/>
      <add url="~/Privacy_Policy" mappedUrl="~/PrivacyPolicy.aspx"/>
      <add url="~/Professionals_Counsellor" mappedUrl="~/Professionals_Counsellor.aspx"/>
      <add url="~/Professionals_Neuropsychologists" mappedUrl="~/Professionals_Neuropsychologists.aspx"/>
      <add url="~/Professionals_Psychologists" mappedUrl="~/Professionals_Psychologists.aspx"/>
      <add url="~/Professionals_Social_Worker" mappedUrl="~/Professionals_SWorker.aspx"/>
      <add url="~/Rehabilitation_Centres" mappedUrl="~/RehabilitationCentres.aspx"/>
      <add url="~/Statistics_MHM" mappedUrl="~/StatisticsMHM.aspx"/>
      <add url="~/Survey_Login" mappedUrl="~/SurveyorLogin.aspx"/>
      <add url="~/Telephonic_Pre_exam_and_Post_Results_Counselling" mappedUrl="~/TPPCounselling.aspx"/>
      <add url="~/Training_Institutes" mappedUrl="~/TrainingInstitutes.aspx"/>
      <add url="~/Virtual_Reality_Techniques" mappedUrl="~/VRTechniques.aspx"/>
      <add url="~/WES_Email_Messages_Services" mappedUrl="~/WES_Email-MessagesServices.aspx"/>
      <add url="~/WES_Tele_Counselling" mappedUrl="~/WES_Tele-Counselling.aspx"/>
      <add url="~/WES_Video_Conferencing" mappedUrl="~/WES_Video-Conferencing.aspx"/>
      <add url="~/Why_Mental_Health_Council_of_India" mappedUrl="~/WhyMHCIndia.aspx"/>
      
      <add url="~/samsberk_Gen" mappedUrl="~/Admin_Zone/adminGen.aspx"/>
      <add url="~/Admin_Home" mappedUrl="~/Admin_Zone/Default.aspx"/>
      <add url="~/Admin_Logout" mappedUrl="~/Admin_Zone/Logout.aspx"/>
      <add url="~/Print_This" mappedUrl="~/Admin_Zone/Print_This.aspx"/>
      <add url="~/Admin_Change_Password" mappedUrl="~/Admin_Zone/CPassword.aspx"/>
      <add url="~/Show_Data" mappedUrl="~/Admin_Zone/ShowData.aspx"/>
      <add url="~/Form1_Preview" mappedUrl="~/Admin_Zone/Form1_Preview.aspx"/>
      <add url="~/Form2_Preview" mappedUrl="~/Admin_Zone/Form2_Preview.aspx"/>
      <add url="~/Form3_Preview" mappedUrl="~/Admin_Zone/Form4_Preview.aspx"/>
      <add url="~/Form1_Data" mappedUrl="~/Admin_Zone/Form1_Data.aspx"/>
      <add url="~/Form2_Data" mappedUrl="~/Admin_Zone/Form2_Data.aspx"/>
      <add url="~/Form3_Data" mappedUrl="~/Admin_Zone/Form3_Data.aspx"/>
      <add url="~/Update_Picture" mappedUrl="~/Admin_Zone/UpdatePicture.aspx"/>
      
      <add url="~/Surveyor_Home" mappedUrl="~/Surveyor_Zone/Default.aspx"/>
      <add url="~/Form_2_of_3" mappedUrl="~/Surveyor_Zone/SecForm.aspx"/>
      <add url="~/Form_3_of_3" mappedUrl="~/Surveyor_Zone/FourthForm.aspx"/>
      <add url="~/Form_5_of_3" mappedUrl="~/Surveyor_Zone/FifthForm.aspx"/>
      <add url="~/Surveyor_Logout" mappedUrl="~/Surveyor_Zone/Logout.aspx"/>
      <add url="~/Surveyor_Change_Password" mappedUrl="~/Surveyor_Zone/CPassword.aspx"/>
      <add url="~/Local_Surveyor_Home" mappedUrl="~/Local_Surveyor/Default.aspx"/>
      <add url="~/Local_Surveyor_Change_Password" mappedUrl="~/Local_Surveyor/ChPassword.aspx"/>
      <add url="~/Form_1" mappedUrl="~/Local_Surveyor/Form1.aspx"/>
      <add url="~/Form_2" mappedUrl="~/Local_Surveyor/Form2.aspx"/>
      <add url="~/Form_4" mappedUrl="~/Local_Surveyor/Form3.aspx"/>
      <add url="~/Local_Surveyor_Logout" mappedUrl="~/Local_Surveyor/Logout.aspx"/>
    </urlMappings>
  </system.web>
</configuration>